certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-SocketIO==4.1.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mercurial==3.7.3
pycrypto==2.6.1
pyDes==2.0.1
python-engineio==3.8.2.post1
python-socketio==4.2.0
requests==2.22.0
six==1.12.0
urllib3==1.25.3
Werkzeug==0.15.5